@media (min-width: 1200px) {
  .span12, .container {
    width: 960px;
  }
}
body{
	text-shadow:none;
}
.backstretch-fade{
	opacity: 0.3;
}
a{
	text-decoration: none;
	color: #000;
}
a:hover{
	text-decoration: none !important;
	color: #f90303 !important;
}
::-moz-selection{
	background: #f90303; 
	color: #fff; 
	text-shadow: none;
}
::selection {
	background: #f90303; 
	color: #fff; 
	text-shadow: none;
} 
.col-high{
	color: #f90303;
}

/*Header*/
.masthead{
	background: rgba(255,255,255,0.6);
    border-bottom: 1px solid #eee;
    width: 80px;
    height: 100%;
    min-height: 2000px;
    position: fixed;
    right: 0px;
	z-index: 100 !important;
	text-align: center;
	border-right:solid 5px #f90303; 
}
.desktop-nav{
	padding: 0px;
	margin: 0px;
	list-style: none;
}
.desktop-nav li{
	margin-bottom: 10px;
	margin-top: 10px;
}
.desktop-nav li a > img:hover{
	opacity: 0.3;
}
.desktop-nav li a > img .current-one{
	opacity: 0.3 !important;
}
#mast-footer{
	z-index: 100;
	padding: 15px 0px 15px 0px;
	background: #fff;
}
.credits{
	margin-top: 30px;
	font-size: 12px;
}
.page{
	z-index: 99 !important;
	padding-top: 200px;
	padding-bottom: 60px;
	min-height: 1300px;
}
.full-bg{
	background: rgba(255,255,255,0.7) url("../images/mask.png") repeat;
}
.scroll-milestone{
	padding-top: 0px;
}
.promo-parallax{
	padding-top: 30px;
}

.parallax-bg{
	z-index: -1 !important;
	box-shadow: 0px 0px 5px rgba(0,0,0,0.8);
	-webkit-box-shadow: 0px 0px 5px rgba(0,0,0,0.8);
	-moz-box-shadow: 0px 0px 5px rgba(0,0,0,0.8);
}
#intro  {
	width: 100%;
	margin-bottom: 500px;
	text-align: center;
}

#intro .bg1  {
	margin: 0 auto;
	padding: 0;
	position: absolute;
	width: 100%;
	 
}
p{
	font-family:"Open_Sans_R";
	 font-size: 14px;
    line-height: 21px;
	padding-bottom: 0px;
	color: #000 !important;
}
.promo-upper{
	padding-top: 240px;
}
p.promo > span{
	/*background: #FF3C00;*/
	background: #f90303;
	padding-left: 10px;
	padding-right: 10px;
}
#promo1  {
	width: 100%;
	position: relative;
}

#promo1 .bg1  {
	background: url(../images/bg1.jpg)  center center repeat fixed;
	margin: 0 auto;
	padding: 0;
	position: absolute;
	width: 100%;
	min-height: 1600px;
	
	 
}

#promo2  {
	width: 100%;
	 
	position: relative;
}
#promo2 .bg2  {
	background: url(../images/bg2.jpg)  center center repeat fixed;
	margin: 0 auto;
	padding: 0;
	position: absolute;
	width: 100%;
	min-height: 1600px;
	
	 
}
#promo3  {
	width: 100%;
	 
	position: relative;
}

#promo3 .bg3  {
	background: url(../images/bg3.jpg)  center center repeat fixed;
	margin: 0 auto;
	padding: 0;
	position: absolute;
	width: 100%;
	min-height: 1600px;
	
	 
}
#promo4  {
	width: 100%;
	 
	position: relative;
}

#promo4 .bg4  {
	background: url(../images/bg4.jpg)  center center repeat fixed;
	margin: 0 auto;
	padding: 0;
	position: absolute;
	width: 100%;
	min-height: 1600px;
	
	 
}
#promo5  {
	width: 100%;
	 
	position: relative;
}

#promo5 .bg5  {
	background: url(../images/bg5.jpg)  center center repeat fixed;
	margin: 0 auto;
	padding: 0;
	position: absolute;
	width: 100%;
	min-height: 1600px;
	
	 
}
#promo6  {
	width: 100%;
	 
	position: relative;
}

#promo6 .bg6  {
	background: url(../images/bg6.jpg)  center center repeat fixed;
	margin: 0 auto;
	padding: 0;
	position: absolute;
	width: 100%;
	min-height: 860px;
	 
}
#logo{
	margin-top: 0px;
	margin-left: 0px;
}




@media only screen and (max-width: 767px)  {
	body{
		padding-left: 0px;
		padding-right: 0px;
	}
	.container{
		padding-left: 15px;
		padding-right: 15px;
	}

}




.btn-reason{
	color: #fff;
	background: #f90303;
	text-shadow: none;
	border-radius: 0px;
	border: 0px;
	box-shadow: none;
}

.btn-reason:hover{
	color: #fff;
	background: #000;
	text-shadow: none;
	border-radius: 0px;
	border: 0px;
	box-shadow: none;
}
/*Home*/
#intro-globe{
	margin-top: 30px;
}
#intro-heading{
	font-size: 64px;
	line-height: 64px;
	background: #fff;
	margin-top: 100px;
	padding-top: 30px;
	padding-bottom: 30px;
	font-weight: normal;
font-family:"bariol_regular";
	background: url("../images/mask.png") repeat;
}
.intro-heading-alt{
	font-family:"Carto_Sans_Bold";
}
.main-heading{
	font-family:"Carto_Sans_Bold";
	text-align: left;
	font-size: 64px;
	line-height: 64px;
	color: #f90303;
	padding-bottom: 25px;
	border-bottom: solid 8px #f90303;
}
.main-heading span{
	font-family:"Carto_Sans_Bold";
	border-bottom: solid 8px #000;
	padding-bottom: 16px;
	color: #000;
}
.promo-text{
	padding-top: 20px;
font-family:"bariol_regular";
	font-size: 24px;
	line-height: 31px;
	color: #f90303 !important;
	font-style: italic;
}
.inner-caps{
font-family:"Open_Sans_R";
font-size: 24px;
}
.inner-sub-heading{
	font-family:"Carto_Sans_Book";
}
/*ABOUT*/
.quick-info{
	list-style: none;
	margin: 0px;
	padding: 0px;

}
.accordion-group {
    background: none !important;
    border: medium none;
    border-radius: 0 0 0 0;
    margin-bottom: 2px;
}
.accordion-heading {
    background: none repeat scroll 0 0 #E8E8E8;
}
.accordion-heading .accordion-toggle {
    background: none repeat scroll 0 0 #FF3C00;
    color: #FFFFFF;
    display: block;
    padding: 8px 15px;
    text-decoration: none !important;
}
.accordion-heading .accordion-toggle:hover {
    background: none repeat scroll 0 0 #000;
    color: #fff !important;
}
.collapse {
    background: none;
    height: 0;
    overflow: hidden;
    position: relative;
    transition: height 0.35s ease 0s;
}
.accordion-inner {
    font-size: 13px;
}
/*services*/
.services-block{
	text-align: left;
}
.services-block > .inner-caps{
	text-align: left;
}
.services-block p{
	text-align: left;
}
.services-more-content{
	display: none;
	border-top: solid 5px #f90303;
	border-bottom: solid 5px #f90303;
	margin: 0px 0px 20px 0px;
	list-style: none;
}
.services-more-content li{
	border-bottom: solid 1px #ccc;
	padding: 10px 0px;
}
.services-more-content li:last-child{
	padding-bottom: 20px;
}
/*TEAM*/
.team-block{
	text-align: center;
}
.team-block h3{
	font-family:"Open_Sans_R";
	font-size: 18px;
	margin-bottom: 0px;
	padding-bottom: 0px;
}
.team-block p{
	text-align: center;
}
.team-block h5{
	text-align: center;
	color: #f90303;
	padding-top: 0px;
	margin-top: 0px;
}
.team-block ul{
	list-style: none;
	padding: 0px;
	margin: 0px;
	margin-top: 5px;
	padding-top: 12px;
	border-top: solid 1px #ccc;
	text-align: center;
}
.team-block ul li{
	display: inline-block;
}
/*PORTFOLIO*/
.element{
   background: #f90303 url("../images/zoom.png") no-repeat center center; 
}

#container {
}
#filters li{
line-height: 43px;
}
#filters li a{
	background: #f90303;
  padding: 9px 12px;
  margin-right: 3px;
color: #fff;
text-decoration: none;
font-weight: normal;
font-family:"Source_Sans";
font-size: 18px;
}
#filters li a:hover{
	background: #000;
  padding: 9px 12px;
  margin-right: 3px;
color: #fff;
text-decoration: none;
font-weight: normal;
font-family:"Source_Sans";
font-size: 18px;
}

.inner-link a.selected{
  background: #fff !important;
  color: #000 !important;
}

/*CONTACT*/
.social-icons{
	list-style: none;
	margin: 0px;
	padding: 0px;
	margin-top: 20px;
}
.social-icons li{
	list-style: none;
	border-top: solid 1px #ccc;
	padding: 5px 0px;
}
.social-icons li:last-child{
	list-style: none;
	border-bottom: solid 1px #ccc;
	padding: 5px 0px;
}
.social-icons li > span{
	margin-right: 10px;
}
/*Navigation and Responsive Menu*/
.mobile-header{
	margin:0px;
	padding: 0px;
	list-style: none;
	width: 100%;
	background: #fff;
	position: fixed;
	height: 40px;
	text-align: center;
	z-index: 100 !important;
}

/* small screen */
@media screen and (max-width: 600px) {
	.page{
		padding-top: 40px !important;
	}
}

@media screen and (max-width: 760px) {
	.main-heading span {
    border-bottom: none;
	font-size: 55;
    color: #000000;
    font-family: "Carto_Sans_Bold";
    padding-bottom: 16px;
	}
}

@media only screen and (max-width: 767px)  {
	/*Fixing the parallax layers on mobile devices*/
	.parallax-bg, .promo-parallax{
		background-attachment: scroll !important;
	    background-position: center center !important;
	    background-repeat: no-repeat !important;
	}

	.parallax-removed{
		background-attachment: scroll !important;
	    background-position: center center !important;
	    background-repeat: no-repeat !important;
	}
	.parallax-bg {
    box-shadow: none;
	}
}